.LocationDetailsFormContainer {
  position: absolute;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 10px;
  background-color: rgb(165, 218, 235, 0.9);
  /* border: black solid 1px; */
  border-radius: 10px;
}
.LocationDetailsShowContainer {
  position: absolute;
  color: #281414;
  z-index: 10;
  margin-right: 0;
  padding: 10px;
  background-color: rgb(165, 218, 235, 0.9);
  /* border: black solid 1px; */
  border-radius: 10px;
}

.inputFormContainer{
    display: inline-flex;
    flex-direction: column;
}

input{
    margin:5px;
}

label{
    font-size: 10px;
    vertical-align: 2.5px;
}