
.search {
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
    z-index: 10;
   
}

.search input {
  padding: 0.2rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 20px;
  border: none;
  
}



.search-suggestion-text{
    color:black;
    border-radius: 20px;
}
.locate {
  position: absolute;
  top: 9rem;
  right: 0.5rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.GeoLocation-Icon{
  width: auto;
  height: 25px;
  margin: 5px;
  background-color:rgba(255, 82, 47, 0.822);
  border-radius: 50%;
 
  padding: 2px;
  cursor: pointer;
  transition: 0.2s;

}

.GeoLocation-Icon:hover {
  background-color: rgba(255, 82, 47, 0.986);
}
