
.search {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
    z-index: 10;
}

.search input {
    padding: 0.2rem;
    font-size: 1rem;
    width: 100%;
}

.search-suggestion-text{
    color:black;
}
.locate {
  position: absolute;
  top: 6rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.GeoLocation-Icon{
  width: auto;
  height: 25px;
  margin: 5px;
  background-color:rgba(0, 160, 168, 0.918);
  border-radius: 50%;
  outline: solid 2px rgba(0, 160, 168, 0.918);
  padding: 2px;
  cursor: pointer;
}
